


.content .content_t .type .type_b .type_b_l .nav-tabs li.active a {
    background: #fc541b;
    border-color: #fc541b;
}
.content .content_c{
    border-color: #fc541b;
}
.content .content_t .type .type_t .date .nub{
    color: #fc541b;
}
.ballarea{
    border: 1px solid #ffd5c2;
    padding: 10px;
    width: 700px;
    margin: 0 auto;
    clear: both;
}
.content .selectInfo span{
    background: #f3f3f3;
}
.xh_tips{
    color: #fe3c00;
    margin-top: 0px;
    height: 24px;
    line-height: 24px;
    _display: inline-block;
    padding-bottom: 5px;
    position: relative;
    font-size: 12px;
    padding-left: 65px;
}
.content .content_c .betbtnBox{
    height: 40px;
    width: 220px;
    padding: 8px 0;
    margin: 10px auto;
}
.content .content_c .betbtnBox a{
    float: left;
    padding: 0 10px;
    display: inline-block;
    height: 32px;
    line-height: 32px;
}
.selected_list{
    border-color: #fc541b;
}
.selected_btnbox .selected_btn{
    border-color: #fc541b;
}
.selected_btnbox .red{
    color: #fc541b;
}
.content .content_c .betbtnBox .betbtn{
    background: url("../img/color_btn.png")0 -37px no-repeat;
    width: 147px;
    height: 32px;
}
.more_tool {
    clear: both;
    float: none;
    display: block;
    margin: 10px 140px;
    font-size: 13px;
    color: #000;

}
.more_tool dt{
    float: left;
    display: inline-block;
    width: 250px;
    font-weight: normal;

}
.more_tool dt span {
    margin-right: 15px;
    position: relative;
    z-index: 25;
}
.input30 {
    border: 1px solid #b1aeae;
    width: 45px;
    height: 16px;
    line-height: 16px;
    vertical-align: middle;
    text-align: center;
}

.result {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: #000;
}
.result span {
    font-size: 18px;
    margin: 0 3px;
    font-family: arial;
}
.c_ba2534 {
     color: #ba2534;
}
.betBtnBox .betBtns a{
    background: url("../img/color_btn.png") -395px -37px;
    width: 149px;
    height: 37px;
}
.content .selectInfoT{
    width: 700px;
    height: 25px;
    border: 1px solid #ffd5c2;
    margin: 15px auto -1px;
    padding: 0;
}
.upload{
    border-color: #f15000;
}



















